* {
  border: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  background-color: #fff;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1.5rem 0.5rem 1.5rem 2rem;
  width: 17rem;

  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(
    to top right,
    rgba($color-secondary-light, 0.9),
    rgba($color-secondary, 0.9)
  );
  // border-radius: 1000px;
  box-shadow: $shadow-light;
  cursor: pointer;
  transition: all 0.2s;

  .icon-arrow {
    align-self: flex-end;
    fill: #fff;
  }

  &:hover {
    background: linear-gradient(
      to top right,
      rgba($color-secondary-light, 1),
      rgba($color-secondary, 1)
    );
  }

  &:active {
    transform: translateY(2px);
  }
}
