.header {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 90vh;
  width: 100vw;

  &__text {
    grid-column: 1/2;
  }

  &__img {
    height: 90vh;
    width: 100%;
    background: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 2rem;
      font-weight: 400;
      color: $color-grey;
    }
    h1 {
      color: $color-primary;
    }
  }
}
