.icon {
  height: 2rem;
  width: 2rem;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1.5rem 0.5rem 1.5rem 2rem;
  width: 17rem;

  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(
    to top right,
    rgba($color-secondary-light, 0.9),
    rgba($color-secondary, 0.9)
  );
  // border-radius: 1000px;
  box-shadow: $shadow-light;
  cursor: pointer;
  transition: all 0.2s;

  .icon-arrow {
    align-self: flex-end;
    fill: #fff;
  }

  &:hover {
    background: linear-gradient(
      to top right,
      rgba($color-secondary-light, 1),
      rgba($color-secondary, 1)
    );
  }

  &:active {
    transform: translateY(2px);
  }
}

.h-small {
  text-transform: capitalize;
  color: $color-secondary-light;
  font-size: 2rem;
  font-weight: 400;
}

.h-medium {
  text-transform: capitalize;
  color: $color-secondary-light;
  font-size: 2.5rem;
  font-weight: 400;
}

.h-large {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
